<html>

<head>
    <title>IIITD Navigation Model</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}navmodel/css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css">

</head>

<body>

<div class="container">

    <div class="row">
        <div id="nav-bar" class="navbar-collapse">
            <ul class="navbar-right">
                <li>Home</li>
                <li>Academic</li>
                <li>Dining</li>
                <li>Library</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>

</div>


<div class="row" style="background-color: #999;height:600px;margin-top:-5px;">
</div>


</body>

</html>
